<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<title>MAPA DA VIOLÊNCIA</title>

	<style>
		/* Basic styles for the layout */
		body {
			margin: 0;
			padding: 0;
			display: flex;
		}

		nav {
			background-color: #333;
			color: #fff;
			flex: 0 0 200px; /* Fixed width for the nav bar */
			bottom: 0;
			padding: 20px;
		}

		main {
			flex: 1; /* Take up remaining space */
			display: flex;
			flex-direction: column;
		}

		.content {
			flex: 1; /* Take up equal space */
			padding: 20px;
		}

		.content:nth-child(odd) {
			background-color: #eee;
		}

	</style>
</head>
<body>
<!-- Side bar -->
<nav>
<div>
	<h1 style="text-align: center;">Título</h1>
</div>
<!-- Filters -->
<!-- Date -->
</div>
</nav>
<!-- Main content -->
<main>
<!-- Stats -->
<div class="content">
	<h4>Sobre o projeto</h4>
	<p>Donec fringilla, orci vel eleifend dignissim, lorem mi aliquet nunc, eget euismod magna sapien nec nisi. Vestibulum facilisis erat a elit consequat semper. </p>
	<br>
	<h4>Base de dados</h4>
	<p>Donec fringilla, orci vel eleifend dignissim, lorem mi aliquet nunc, eget euismod magna sapien nec nisi. Vestibulum facilisis erat a elit consequat semper. </p>
	<br>
	<h4>Processamento</h4>
	<p>Donec fringilla, orci vel eleifend dignissim, lorem mi aliquet nunc, eget euismod magna sapien nec nisi. Vestibulum facilisis erat a elit consequat semper. </p>
	<br>
	<h4>Crimes violentos e não violentos</h4>
	<p>Donec fringilla, orci vel eleifend dignissim, lorem mi aliquet nunc, eget euismod magna sapien nec nisi. Vestibulum facilisis erat a elit consequat semper. </p>
	<br>
</div>
</main>
</body>
</html>
